name: Deploy to Dev

on:
  workflow_dispatch:
    inputs:
      image-tag:
        description: 'Docker image tag to deploy (default: latest)'
        required: false
        type: string
        default: 'latest'

jobs:
  deploy-dev:
    uses: ./.github/workflows/helm-deploy.yml
    with:
      environment: dev
      image-tag: ${{ inputs.image-tag }}
      namespace: wanderer
    secrets:
      TWINGATE_SERVICE_KEY: ${{ secrets.TWINGATE_SERVICE_KEY }}
      KUBECONFIG_CONTENT: ${{ secrets.KUBECONFIG_CONTENT }}
      GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}

